Distance Stations/Data/midas_raindrnl_202101-202112.txt
Slope steepness from DEM/DEM Data/n55w010_dem/n50w010 clip_just_UK.tif
Slope steepness from DEM/DEM Data/n50e000_dem/N50e000 clip_just_UK.tif
Slope steepness from DEM/DEM Data/n50w010_dem/n50w010_dem clipped.tif
